<div class="container-custom">  
  
  <div class="row">
    <div class="col-md-2 form-group">  
      <button class="btn btn-primary btn-custom" (click)="listaEstatisticasTodosJogadores()">Exibir Estatísticas de Todos os Jogadores</button>
    </div>  
    <div class="col-md-2 form-group">  
      <button class="btn btn-primary btn-custom" (click)="pesquisarJogadorEspecifico()">Pesquisar um Jogador</button>
    </div>  
    <div class="col-md-2 form-group">  
      <button class="btn btn-primary btn-custom" (click)="cadastrarNovoJogador()">Cadastrar um Jogador</button>
    </div>      
  </div>
  
  <div *ngIf="jogadoresEstatisticas">
    <h2>Listagem de Estatísticas de Jogadores</h2>
    <table class="table table-striped">  
      <thead>
        <tr>
          <th>Jogador</th>
          <th>Sport</th>
          <th>Estatísticas</th>
          <th>Mostrar Marcas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jogador of jogadoresEstatisticas"> 
          <td>{{ jogador.nome }}</td>
          <td>{{ jogador.sport }}</td>
          <td>{{ jogador.stats }}</td> 
          <td><button class="btn btn-info btn-search" (click)="mostrarMarcasDesseJogador(jogador)">Marcas Usadas por {{ jogador.nome }}</button></td>               
        </tr>
      </tbody>
    </table>
  </div>
  

  <div *ngIf="mostraPesquisaJogadorEstatistica">
    <h2>Buscar Estatísticas de Jogador</h2>
    <div class="row">
      <div class="col-md-4 form-group">      
        <input id="nomeJogador" [(ngModel)]="pesquisaJogador" class="form-control" placeholder="Digite o nome do jogador">
      </div>
      <div class="col-md-1 form-group">
        <button class="btn btn-primary btn-search" (click)="buscarEstatisticasJogador()">Buscar</button>
      </div>
    </div>
    
    <table  class="table table-striped" *ngIf="jogadorEstatistica">  
      <thead>
        <tr>
          <th>Id</th>
          <th>Jogador</th>
          <th>Sport</th>
          <th>Estatísticas</th>
          <th>Add Marca</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jogador of jogadorEstatistica"> 
          <td>{{ jogador.id }}</td>
          <td>{{ jogador.nome }}</td>
          <td>{{ jogador.sport }}</td>
          <td>{{ jogador.stats }}</td>  
          <td><button (click)="abreMarcasParaJogador(jogador)" class="btn btn-warning">Add Marca</button></td>                
        </tr>
      </tbody>
    </table> 
  </div>
  <div *ngIf="mostraMsgJogador404"> 
      <h2>Jogador Não encontrado</h2>
  </div>
  

  <div *ngIf="mostrarCadastrarJogador">
    <h2>
      Cadastrar Novo Jogador
      <div class="row">
        <div class="col-md-4 form-group">
          <input class="form-control" [(ngModel)]="nome_jogador" placeholder="Nome do Jogador">
        </div>
        <div class="col-md-4 form-group">
          <input class="form-control" [(ngModel)]="sport" placeholder="Sport que praticar">
        </div>
        <div class="col-md-4 form-group">
          <input class="form-control" [(ngModel)]="stats" placeholder="Estatisticas">
        </div>
        <div class="col-md-12 form-group">
          <button class="btn btn-success btn-custom" (click)="adicionaJogador()">Cadastrar</button>
        </div>
      </div>    
    </h2> 
  </div>
  

  <table *ngIf="mostraMarcasDisponiveis" class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Marcas Disponíveis no Sistema</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="marcas">
        <tr *ngFor="let marca of marcas; let i = index" [class.table-light]="i % 2 === 0">
          <td>{{ marca.id }}</td>
          <td>{{ marca.nomeMarca }}</td>
          <td><button  (click)="adicionaMarcaAoJogador(marca)" class="btn btn-info">Add Essa marca ao Jogador {{jogadorSelecionado}}</button></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  
  
</div>
