<div class="container-custom">
  <h2>Listagem de Estatísticas de Jogadores</h2>
  <button class="btn btn-primary btn-custom" (click)="listaEstatisticasTodosJogadores()">Exibir Estatísticas de Todos os Jogadores</button>

  <div *ngIf="jogadoresEstatisticas" class="row">
    <div *ngFor="let jogadores of jogadoresEstatisticas" class="col-md-4 form-group">
      <h1>Jogador: {{ jogadores.nome }}</h1>
      <h2>
        <p>Sport: {{ jogadores.sport }}</p>
        <p>Estatísticas: {{ jogadores.stats }}</p>
      </h2>     
    </div>
  </div>

  <h2>Buscar Estatísticas de Jogador</h2>
  <div class="row">
    <div class="col-md-6 form-group">
      <label for="nomeJogador">Nome do Jogador:</label>
      <input id="nomeJogador" [(ngModel)]="pesquisaJogador" class="form-control" placeholder="Digite o nome do jogador">
    </div>
    <div class="col-md-6 form-group">
      <button class="btn btn-primary btn-search" (click)="buscarEstatisticasJogador()">Buscar</button>
    </div>
  </div>

  <div *ngIf="jogadorEstatistica" class="row form-group">
    <div *ngFor="let jogador of jogadorEstatistica" class="col-md-4 form-group">
      <h1>Jogador: {{ jogador.nome }}</h1>
      <h2>
        <p>Sport: {{ jogador.sport }}</p>
        <p>Estatísticas: {{ jogador.stats }}</p>
      </h2>     
    </div>
  </div>

  <h2>Cadastrar Novo Jogador</h2>
  <div class="row">
    <div class="col-md-4 form-group">
      <input class="form-control" [(ngModel)]="nome_jogador" placeholder="Nome do Jogador">
    </div>
    <div class="col-md-4 form-group">
      <input class="form-control" [(ngModel)]="sport" placeholder="Sport que praticar">
    </div>
    <div class="col-md-4 form-group">
      <input class="form-control" [(ngModel)]="stats" placeholder="Estatisticas">
    </div>
    <div class="col-md-12 form-group">
      <button class="btn btn-success btn-custom" (click)="adicionaJogador()">Cadastrar</button>
    </div>
  </div>
</div>
