<div class="container-custom">
    <h2>Listagem de Marcas</h2>
    <button class="btn btn-primary btn-custom" (click)="listaMarcas()">Exibir Todas as Marcas</button>
    
    <table *ngIf="marcas" class="table table-striped">  
      <thead>
        <tr>
          <th>Marca</th>          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let marcas of marcas"> 
          <td>{{ marcas.nomeMarca }}</td>                          
        </tr>
      </tbody>
    </table> 
  
    <h2>Buscar Marca</h2>
    <div class="row">
      <div class="col-md-4 form-group">       
        <input id="nomeJogador" [(ngModel)]="pesquisaMarca" class="form-control" placeholder="Digite o nome da marca">
      </div>
      <div class="col-md-1 form-group">
        <button class="btn btn-primary btn-search" (click)="buscarMarca()">Buscar</button>
      </div>
    </div>
  
    <table *ngIf="marca" class="table table-striped">  
      <thead>
        <tr>
          <th>Marca</th>          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let marca of marca"> 
          <td>{{ marca.nomeMarca }}</td>                          
        </tr>
      </tbody>
    </table> 
  
    <h2>
      Cadastrar Nova Marca
      <div class="row">
        <div class="col-md-4 form-group">
          <input class="form-control" [(ngModel)]="nome_marca" placeholder="Nome da marca">
        </div>
        
        <div class="col-md-12 form-group">
          <button class="btn btn-success btn-custom" (click)="adicionaMarca()">Cadastrar</button>
        </div>
      </div>
    </h2>
  </div>
  
